*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #e0e3e0;
}
.container{
    position: relative;
    width:395px;
    border-radius: 22px;
    background: #fff;
}
.display{
    height:80px;
    width:370px;
    margin-bottom:15px;
    font-size: 25px;
    text-align: right;
    outline: none;
    color:#000e1a;
    margin:15px 5px 5px 15px;
    margin-top: 40px;
    pointer-events: none;

}
.buttons{
    display: grid;
    width:300px;
    margin:50px;
    grid-gap:10px;
    grid-template-columns: repeat(4, 1fr);
}
.buttons button{
    padding:12px 10px;
    border-radius: 6px;
    border:none;
    font-size: 20px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    background-color:#eee ;
}
.buttons button:active{
    transform: scale(0.99);
}
.buttons button:hover{
    background-color: #626364;
    color: #fff;
}
@media (max-width: 768px) {
    .container {
        max-width: 100%; /* Adjust maximum width for smaller screens */
    }
    .buttons {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)); /* Adjust button size */
    }
}
